# dependencies
/node_modules

# next.js
/.next/
/out/
/build
next-env.d.ts
*.tsbuildinfo

# misc
.DS_Store
.env
.env.*
!.env.example
npm-debug.log*

# database (Prisma SQLite)
/prisma/*.db
/prisma/*.db-journal
